body {
  display: flex;
  /*justify-content: center;*/
  position: absolute;
}

.blocks {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  
}

.block {
  width: 100px;
  height: 100px;
  margin: 10px;
  position: relative;
}

.block--red {
  background-color: red;
  left:auto;
}

.block--blue {
  background-color: blue;
  left:auto;
}

.block--green {
  background-color: green;
  left:auto
}

.block--pink {
  background-color: pink;
  left:auto
}

.block--gray {
  background-color: gray;
  left:auto
}